.container{
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 80%;
    height: 100%;
    margin: 20px auto auto;
}
.table{
    width: 100%;
    height: 100%;
    border: 1px solid;
}

th{
    padding: 10px;
    border: 1px solid;

}
.thead{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.tbody{
    font-weight: 300;
}
.thRow {
    cursor: pointer;
}
